body {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    display: block;
}

textarea {
    resize: none;
    outline: none;
}

input {
    outline: none;
}